<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net452" />
  <package id="Metrics.NET" version="0.3.7" targetFramework="net452" />
  <package id="Nancy" version="1.4.3" targetFramework="net452" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Metrics" version="0.3.7" targetFramework="net452" />
  <package id="Nancy.Validation.FluentValidation" version="1.4.1" targetFramework="net452" />
</packages>